altgraph==0.17.4
certifi==2025.4.26
charset-normalizer==3.4.2
ghostscript==0.7
idna==3.10
importlib_metadata==8.7.0
packaging==25.0
pefile==2023.2.7
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pywin32-ctypes==0.2.3
requests==2.32.3
tk==0.1.0
urllib3==2.4.0
zipp==3.21.0
